
h1{
color:rgb(157, 170, 38)
  }
.menu{
      display: flex;
      justify-content: space-between;
      background-color: rgb(0, 0, 0);
      padding: 15px;
      
     }

.grid img{
     border:2px solid #000000
     
}     
.origami{
     border-radius: 80px ;
     background-color: rgb(234, 241, 175);
     
}
.main{
     background-color: black;
       display: flex;
       justify-content: space-around;
}
body{
     margin: 0px;
     background-color: rgb(8, 82, 179);
}